In [23]:
#remove() :To remove perticular element from list
lst=[1,2,"ML","py"]
lst.remove("ML")
lst

[1, 2, 'py']

In [30]:
#count(): it counts the occurance of perticular vale in list
lst1=[1,2,3,4,4,5,4.4,4,4,4]
print("number of times 4 occur in list is {} times".format(lst1.count(4)))

number of times 4 occur in list is 5 times

In [31]:
#clear()::It will truncate the list but empty list is present
lst1.clear()
lst1

[]

In [38]:
#sort():: It will sort the list in ascending order by default 
lst1=[44,1,3,5,0] #only same types of values are allowed while sorting
lst2=["Anagha","Pol","Kiran"]
lst1.sort()
lst2.sort()
print(lst1 , lst2)

[0, 1, 3, 5, 44] ['Anagha', 'Kiran', 'Pol']

In [41]:
#reverse()::For rotating list or it will print list element staring from last
lst1=["asd","aas",1,3,2]
lst1.reverse()
lst1

[2, 3, 1, 'aas', 'asd']

In [22]:
l1=[10,20,[30,40,[50,60],80],90,100]
l2=[70]
l1[2][2].extend(l2)
l1
#output::[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [20]:
l1 = [1,2,[3,4,5,6],9]
l2=[7,8]
l1[2].insert(4,l2)
l1
#output::[1,2,[3,4,5,6,[7,8]],9]

[1, 2, [3, 4, 5, 6, [7, 8]], 9]